h2 {
  background-color: rgb(11, 11, 10);
  color: rgb(253, 252, 252);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
}
.li{
    text-decoration: none;
    color: white;
    padding: 2px;
}
.li:hover{
    background-color: aqua;
    color: black;
    border-radius: 3px;
}
